.cart {
  width: 100%;
  background-color: #313131;
  color: white;
}

.cart h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cartPriceContainer {
  text-align: right;
}
.closeButtonContainer {
  text-align: right;
}
.cartOrderButton {
  text-align: right;
}
.cartOrderButton Button {
  color: White;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: italic;
}
.cartOrderButton Button:hover {
  border: 2px solid black;
}
