.App {
  background-image: linear-gradient(to right, red, yellow, green);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main {
  width: 80%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main {
    width: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main {
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    width: 75%;
  }
}
